html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  margin-left: 20px;
  font-size: 2em;
  text-align: left;
}

#instructions {
  margin-top: 200px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: left;
}

#mapForm {
  margin-top: 50px;
}

#searchResults {
  border: 2px solid black;
  min-height: 50px;
  margin-top: 25px;
  margin-left: 100px;
  margin-right: 100px;
}

#buttons {
  margin-top: 10px;
}